.btn{
    opacity: 0.7;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    
}
.bot{
   margin-top: auto;
   margin-bottom: 6px;
}
.inp{
    opacity: 0.7;
    border-radius: 20px;
    height: 40px;
    width: 120px;
    
}
.nav{
    width: 100%;
    overflow: hid;
}
.nav-fix{
      position: fixed;  
       border-radius: 90px;
    height: 70px;
    width: 480px;
    top: 5%;         
    left: 50%;        
    transform: translate(-50%, -50%);
      z-index: 999;
    
}
.pan{
    border-radius: 20px;
    height: 360px;
    width:260px;
}
.fix {
    position: fixed;  
    top: 3%;         
    left: 50%;        
    transform:translate(-50%, -50%);
    z-index: 999;
}


.m{
    
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.mgn{
margin: 6px 6px;
}

.fxc{
    display: flex;
    flex-direction: column;
      height: 100%;
}
.fxcc{
    align-items: center;
}


.t-hcy{
    
    color: gray;
}
.bg-hcy{
    background-color: rgba(255, 255, 255,0.8);
}
.bd-hcy{
    border: 3px solid  rgba(255, 255, 255,0.8);
}

.t-def{
color: black;
}
.bg-def{
    background-color: rgba(0, 0, 0, 1);
}
.bd-def{
    border: 3px solid rgba(0, 0, 0, 1);
}
.sd-def{
    box-shadow: 0 0 8px black;
}
.t-luv{
    color:  #ff4444;
}
.bg-luv{
      background-color:  #ff4444;
}
.bd-luv{
     border: 3px solid #ff4444;
}
.sd-luv{
    box-shadow: 0 0 8px  #ff4444;
}
.fg{
     backdrop-filter: blur(12px);
  background-color: rgba(255,255,255,0.2);
}
.tp{
    background-color: rgba(255, 255, 255, 0.5);
}

.sd-angle{
      box-shadow: 0 0 8px white;
}